@import "./global.scss";

* {
  font-family: "Inter", sans-serif;
}

@mixin defaultTypography($font-size: 1rem, $color: $grey-0, $font-weight: 400) {
  color: $color;
  font-family: var(--font-primary);
  font-size: $font-size;
  font-weight: $font-weight;
}

.title1 {
  @include defaultTypography($font-size: 1.125rem, $font-weight: 700);
  font-style: normal;
  line-height: 1.75rem;

  &.center {
    text-align: center;
  }
}

.label {
  @include defaultTypography($font-size: 0.8rem);
}

.link {
  @include defaultTypography($font-size: 1.125rem);
  text-decoration: none;
}

.headline {
  @include defaultTypography($font-size: 1.125rem);
}

.headline-bold {
  @include defaultTypography($font-size: 1.125rem);
  font-weight: bold;
}

.paragraph {
  @include defaultTypography($font-size: 1rem, $font-weight: 400);

  &.white {
    color: $grey-0;
  }
}

.prompt {
  @include defaultTypography($font-size: 1.125rem, $font-weight: 400);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey-1;
  font-size: 11px;
  font-style: normal;
  line-height: 1.09938rem;
}


